<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_name %>
  </div>

  <div class="field">
    <%= form.fields_for :order_items, OrderItem do |f| %>
      <%= f.collection_select :menu_item_id, MenuItem.all, :id, :name %> <br> <br>
    <% end %>
  </div>

  <div class="field">
    <% form.label :subtotal %>
    <% form.text_field :subtotal, id: :order_subtotal %>
  </div>

  <div class="field">
    <% form.label :tax %>
    <% form.text_field :tax, id: :order_tax %>
  </div>

  <div class="field">
    <% form.label :amount_due %>
    <% form.label :amount_due, id: :order_amount_due %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
